<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Family Expenditure Planner</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Lora:400i,700" rel="stylesheet">
</head>
<body>
	<header>
		<span id="heading">Family Expenditure Planner</span>
		<span id="greet">Welcome, {{ name }}</span>
		<button type="button" class="btn btn-outline-dark btn-lg signs" onclick="location.href='/signout'">Sign Out</button>
	</header>

	<div class="add-income">
		<span>Add Income Details &rArr;</span>
		<div class="bttn">
			{% for i in incdata %}
				{% if i[0]!='Total' %}
				<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ i[0] }}">
					{{ i[0] }}
				</button>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<hr style="border: 0;height: 2px;background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);margin: 0">
	<div class="add-expense">
		<span>&lArr; Add Expense Details</span>
		<div class="bttn">
			{% for i in expdata %}
			<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal" data-whatever="{{ i }}">
				{{ i }}
			</button>
			{% endfor %}
		</div>
	</div>
	<hr style="border: 0;height: 2px;background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);margin: 0">

	<div class="table-income">
		<span>Income</span>
		<div>
			<table class="table table-bordered">
				<thead class="thead-light">
					<tr>
						<th width="150">Income</th>
						{% for j in months %}
						<th>{{ j }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for i in incdata %}
					<tr>
						<th>{{ i[0] }}</th>
						{% for j in range(1,13) %}
							{% if i[0]=='Total' %}
							<td><b>{{ i[j] }}</b></td>
							{% else %}
							<td>{{ i[j] }}</td>
							{% endif %}
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="table-expense" id="texp">
		<span>Expenses</span>
		<div id="bcollapse">
		{% for i in expdata %}
		<button type="button" class="btn btn-dark" data-toggle="collapse" data-target="#{{ i.lower() }}" aria-controls="{{ i.lower() }}">
			{{ i }}
		</button>
		{% endfor %}
		</div>
		<br>
		{% for i in expdata %}
		<div class="collapse" id="{{ i.lower() }}" data-parent="#texp">
			<table class="table table-bordered table-sm">
				<thead class="thead-light">
					<tr>
						<th width="150">{{ i }}</th>
						{% for j in months %}
						<th>{{ j }}</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for j in expdata[i] %}
					<tr>
						<th>{{ j[0] }}</th>
						{% for k in range(1,13) %}
							{% if j[0]=='Total' %}
							<td><b>{{ j[k] }}</b></td>
							{% else %}
							<td>{{ j[k] }}</td>
							{% endif %}
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% endfor %}
	</div>

	<div class="yearly-chart">
		<canvas id="barChart"></canvas>
	</div>

	<div class="row" style="width: 95%;margin: 20px auto;">
		<div class="col-8" style="padding: 0">
			<div class="average-chart">
				<canvas id="pieChart"></canvas>
			</div>
		</div>
		<div class="col-4" style="padding: 0">
			<div class="analysis">
				<h1 style="margin: 0;text-align: center;">Analysis</h1>
				<hr style="border: 0;height: 2px;background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);margin: 0">
				<div>
					<br>
					<div>
						<span class="avg">Avg. monthly income</span>
						<span class="amt">₹{{ finalamt[0] }}</span>
					</div>
					<div style="clear: both;">
						<span class="avg">Avg. monthly expense</span>
						<span class="amt">₹{{ finalamt[1] }}</span>
					</div>
					<div style="clear: both;"></div>
					<hr>
					<span class="avg">Net cash flow</span>
					{% if finalamt[2] >= 0 %}
					<span class="amt" style="color: green;">₹{{ finalamt[2] }}</span>
					{% else %}
					<span class="amt" style="color: red;">₹{{ finalamt[2] }}</span>
					{% endif %}
					<div style="clear: both;"></div>
					<br>
					{% if finalamt[2] >= 0 %}
					<p style="font-size: 20px;color: green;">Great !! Happy to say that you are spending and enjoying and that also being in your limits.HAPPY SAVING</p>
					{% else %}
					<p style="font-size: 20px;color: red;">Ooops !! Sorry to say that but you are spending more on an average than your earnings</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

	<footer>
		<span>Made By Manoj, Mohit and Muskan</span>
	</footer>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
		      	<form action="" method="post" id="main-form" autocomplete="off">
		      		<div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel"></h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				        	<span aria-hidden="true">&times;</span>
				        </button>
				    </div>
				    <div class="modal-body">
				    	<div class="form-group name-of-expense">
				    		<label for="expense"><b>Name of Expense</b></label>
		    				<select class="form-control" name="expense" required>
		    					<option hidden selected>Choose</option>
		    				{% for i in expdata %}
		    					{% for j in expdata[i] %}
		    						{% if j[0]!='Total' %}
		    						<option class= "{{ i.lower() }} exp" value="{{ j[0] }}">{{ j[0] }}</option>
		    						{% endif %}
		    					{% endfor %}
		    				{% endfor %}
		    				</select>
				    	</div>
				    	<div class="form-group">
							<label for="price"><b>Amount</b></label>
							<input type="number" min="0" class="form-control" placeholder="Enter Price" name="price" required>
				    	</div>
				    	<div class="form-group">
				    		<label for="month"><b>Month</b></label>
							<select class="form-control" name="month" required>
								{% for j in months %}
								<option value="{{ j }}">{{ j }}</option>
								{% endfor %}
		    				</select>
				    	</div>
		      		</div>
		      		<div class="modal-footer">
						<button type="submit" class="btn btn-primary mb-2">ADD</button>
		      		</div>
				</form>
	    	</div>
	  	</div>
	</div>

	<!-- <div>{{ incdata }}</div> -->

	<script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
	<script>
		var barchart = document.getElementById("barChart");
		var myChart = new Chart(barChart, {
		    type: 'bar',
		    data: {
		        labels: {{ months|safe }},
		        datasets: [{
		            label: 'Income',
		            stack: 'Stack 0',
		            data: {{ chtdata['Income']|safe }},
		            backgroundColor: 'rgba(60, 180, 75, 0.5)',
		            borderColor: 'rgba(60, 180, 75,1)',
		            borderWidth: 1
		        },{
		            label: 'Savings',
		            stack: 'Stack 1',
		            data: {{ chtdata['Savings']|safe }},
		            backgroundColor: 'rgba(230, 25, 75, 0.5)',
		            borderColor: 'rgba(230, 25, 75,1)',
		            borderWidth: 1
		        },{
		            label: 'Home',
		            stack: 'Stack 1',
		            data: {{ chtdata['Home']|safe }},
		            backgroundColor: 'rgba(255, 225, 25, 0.5)',
		            borderColor: 'rgba(255, 225, 25, 1)',
		            borderWidth: 1
		        },{
		            label: 'Health',
		            stack: 'Stack 1',
		            data: {{ chtdata['Health']|safe }},
		            backgroundColor: 'rgba(0, 130, 200, 0.5)',
		            borderColor: 'rgba(0, 130, 200, 1)',
		            borderWidth: 1
		        },{
		            label: 'Transportation',
		            stack: 'Stack 1',
		            data: {{ chtdata['Transportation']|safe }},
		            backgroundColor: 'rgba(240, 50, 230, 0.5)',
		            borderColor: 'rgba(240, 50, 230, 1)',
		            borderWidth: 1
		        },{
		            label: 'Entertainment',
		            stack: 'Stack 1',
		            data: {{ chtdata['Entertainment']|safe }},
		            backgroundColor: 'rgba(0, 128, 128, 0.5)',
		            borderColor: 'rgba(0, 128, 128, 1)',
		            borderWidth: 1
		        },{
		            label: 'Daily-living',
		            stack: 'Stack 1',
		            data: {{ chtdata['Daily-living']|safe }},
		            backgroundColor: 'rgba(128, 0, 0, 0.5)',
		            borderColor: 'rgba(128, 0, 0,1)',
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                scaleLabel: {
					        display: true,
					        labelString: 'Price'
					    },
		                ticks: {
		                    beginAtZero:true,
		                    callback: function(value, index, values) {
                        		return '₹' + value;
                    		}
		                }
		            }],
		            xAxes: [{
		            	scaleLabel: {
					        display: true,
					        labelString: 'Month'
					    }
		            }]
		        },
		        title: {
		    		display: true,
		    		text: 'Summary',
		    		fontSize: 20
		    	}
		    }
		});

		var pieChart = document.getElementById("pieChart");
		var myDoughnutChart = new Chart(pieChart, {
		    type: 'doughnut',
		    data: {
			    datasets: [{
			        data: {{ piedata|safe }},
			        backgroundColor: ['rgba(60, 180, 75, 0.6)',
									  'rgba(230, 25, 75, 0.6)',
									  'rgba(255, 225, 25, 0.6)',
									  'rgba(0, 130, 200, 0.6)',
									  'rgba(240, 50, 230, 0.6)',
									  'rgba(0, 128, 128, 0.6)',
									  'rgba(128, 0, 0, 0.6)']
			    }],

			    // These labels appear in the legend and in the tooltips when hovering different arcs
			    labels: [
			        'Income',
			        'Savings',
			        'Home',
			        'Health',
			        'Transportation',
			        'Entertainment',
			        'Daily-living'
			    ]
			},
		    options: {
		    	title: {
		    		display: true,
		    		text: 'Monthly Average',
		    		fontSize: 20
		    	}
		    }
		});

	</script>
</body>
</html>

