<!DOCTYPE html>
<html>
	<head>
		<title>Family Expenditure Planner</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Lora:400i,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Poppins:500,700" rel="stylesheet">
		<style>
	      [data-sr] {
	        visibility: hidden;
	      }
    	</style>
	</head>
	<body>
		<header>
			<div class="col1 col">
				<div class="headings">
					<h1 data-sr="wait 0.5s,enter bottom, ease-in-out 30px">Family Expenditure Planner</h1>
					<h3 data-sr="wait 1s,enter bottom ease-in-out 40px">It's not your salary that makes you rich, it's your spending habits.</h3>
				</div>
			</div>
			<div class="col2 col">
				<div class="form-con">
					<form class="form-main" action="/signup" method="post">
						<h1>Sign Up</h1>
						<p>Please fill in this form to create an account.</p>
						<hr>
						<label for="name"><b>Name</b></label>
						<input type="text" placeholder="Enter Name" name="name" required>
						<label for="email"><b>Email</b></label>
						<input type="text" placeholder="Enter Email" name="email" required>
						<label for="username"><b>Username</b></label>
						<input type="text" placeholder="Enter Username" name="username" required>
						<label for="psw"><b>Password</b></label>
						<input type="password" placeholder="Enter Password" name="psw" required>
						<button type="submit" class="signs">Sign Up</button>
						<p style="text-align: center;">Already have an account <span class="sin" onclick="document.getElementById('id02').style.display='block'"><b>Sign in</b></span></p>
					</form>
				</div>
			</div>
			<div id="id02" class="modal">
				<div class="form-con1 animate">
					<form class="form-main" action="/signin" method="post">
						<span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
						<h1>Sign In</h1>
						<hr>
						<label for="username"><b>Username</b></label>
						<input type="text" placeholder="Enter Username" name="username" required autofocus>
						<label for="psw"><b>Password</b></label>
						<input type="password" placeholder="Enter Password" name="psw" required>
						<button type="submit" class="signs">Sign In</button>
					</form>
				</div>
			</div>
		</header>
		<div class="container">
			<div class="content">
				<section id="step1" data-sr="wait 0.6s and then enter left ease-in-out 50px">
					<h1>Sign Up</h1>
					<hr>
					<p>Sign up to make a new account or if you already have an account then sign in.</p>
					<!-- <img src="{{ url_for('static', filename='img/step1.png') }}" alt=""> -->
				</section>
				<div class="clr"></div>
				<section id="step2" data-sr="wait 0.6s and then enter right ease-in-out 50px">
					<h1>Getting Started</h1>
					<hr>
					<p>Before you get started, grab as much information (bank statements, bills…) as you can. The more up to date your details are, the more accurate your results will be.</p>
					<!-- <img src="{{ url_for('static', filename='img/step2.png') }}" alt=""> -->
				</section>
				<div class="clr"></div>
				<section id="step3" data-sr="wait 0.6s and then enter left ease-in-out 50px">
					<h1>Income Details</h1>
					<hr>
					<p>Start adding details of your various ways of monthly income.For example,</p>
					<ul>
						<li>Salary</li>
						<li>Refunds</li>
						<li>Business</li>
						<li>Pension</li>
						<li>Other</li>
					</ul>
					<!-- <img src="{{ url_for('static', filename='img/step3.png') }}" alt=""> -->
				</section>
				<div class="clr"></div>
				<section id="step4" data-sr="wait 0.6s and then enter right ease-in-out 50px">
					<h1>Expenses</h1>
					<hr>
					<p>Enter your various expenses based on the category provided.</p>
					<ul>
						<li>Home</li>
						<li>Transportation</li>
						<li>Health</li>
						<li>Daily Living</li>
					</ul>
					<!-- <img src="{{ url_for('static', filename='img/step4.png') }}" alt=""> -->
				</section>
				<div class="clr"></div>
				<section id="step5" data-sr="wait 0.6s and then enter left ease-in-out 50px">
					<h1>Visualizing Data</h1>
					<hr>
					<p>Get a breakdown of your finances Month wise and Category wise through various tables, bar graphs and pie charts to help you can make the most of your money.</p>
				</section>
				<div class="clr"></div>
			</div>
		</div>
		<footer>
			<span>Made By Manoj, Mohit and Muskan</span>
		</footer>
	</body>

	<script src="{{ url_for('static', filename='js/scrollReveal.min.js') }}"></script>
    <script>
    	window.sr = new scrollReveal();
    </script>

</html>